

.searchBar{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 100%;
    height: 50px;
    background-color: hsl(127, 84%, 36%);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    input[type="text"] {
        border: 1px solid transparent; // Red border
        padding: 8px;
        width: 80%; // Adjust as needed
        border-radius: 4px;
        font-size: 16px;
        background-color: aliceblue;
        color: #0a0900;
        &:focus {
            border: 2px solid rgb(246, 26, 26);
            outline: none;
        }

    }
    .searchBtn button{
        border: none;
        height: 5vh;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 16px;
        background-color: aliceblue;
              color: #0a0900;
        //how to add hover
        &:hover{
            background-color: hsl(241, 92%, 10%); // Changes background color on hover
            border-color: rgb(242, 237, 237); // Changes border color to match
            color: rgb(255, 251, 10); // Optional: changes text color to white for better contrast
        }
    }
    
    
}

h2{
    color: #c1e813;
}