#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
 
}


  .App{
    display: grid;
    justify-content: center;
    // align-content: center;
    align-items: center;
    background-image: url('./assets/design/book.avif');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    color: aliceblue;
    width: 50rem;
    border-radius: 5px;
    
   
  
  }

///styling app.tx
